html {
  overflow-x: hidden;
  height: 100%;
  min-height: 100%;
}

body {
  min-height: 100%;
  padding: 50px 0 10px 0;
  position: relative;
}

.header {
  .navbar-brand {
    img {
      display: inline-block;
      vertical-align: middle;
    }
  }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .header {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
  }
}
