
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Login</h3>
  </div>
  <div class="modal-body pd-none">
    <div class="login-wrapper panel panel-clean panel-center pd-none">
      <ul class="nav nav-tabs custom-tabs">
        <li class="active"><a href="#">Criar Conta</a></li>
        <li><a href="#">Já Possui Conta?</a></li>
      </ul>
      <div class="panel panel-clean panel-inner text-center ">
        <div class="panel-group">
          <a class="btn btn-facebook wd-mid pull-left" href="#">
            <svg class="icon icon-gplus" role="img">
              <use xlink:href="#icon-gplus"></use>
            </svg>
            Facebook
          </a>
          <a class="btn btn-gplus wd-mid pull-right" href="#">
            <svg class="icon icon-gplus" role="img">
              <use xlink:href="#icon-gplus"></use>
            </svg>
            Google +
          </a>
        </div>
        <p class="line-full">
          <span class="text">ou</span>
        </p>
      </div>

      <form class="panel panel-clean form-horizontal text-center" method="post" action="#">

        <div class="form-group text-left">
          <label for="name" class="cols-sm-2 control-label">Name</label>
          <div class="cols-sm-10">
            <input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name"/>
          </div>
        </div>

        <div class="form-group text-left">
          <label for="email" class="cols-sm-2 control-label">Email</label>
          <div class="cols-sm-10">
            <input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
          </div>
        </div>
        <div class="text-center">
          <p class="text-right">
            <a href="#">Esqueci minha senha</a>
          </p>
          <a class="btn btn-primary btn-lg mg-tb wd-mid" href="#">ENTRAR</a>
        </div>
      </form>

    </div>
  </div>
