
.btn {
  box-shadow: 0px 2px 3px #a9a8a8;

  &.btn-gplus,
  &.btn-facebook {
    font-size: 13px;
    padding: 5px;
    color: #fff;
    .icon {
      width: 20px;
      height: 25px;
      fill: #fff;
    }
  }

  &.btn-facebook {
    background-color: #375087;
    border-color: #375087;
  }

  &.btn-gplus {
    background-color: #de4d3b;
    border-color: #de4d3b;
  }

  &.btn-border {
    color: $white;
    border: 2px solid $white;
    background: none;
    padding: 8px 16px;
    text-transform: uppercase;
    box-shadow: 0 0 0 0;
  }

  &.btn-icon {
    color: $white;
    border: 0;
    background: none;
    padding: 0;
    box-shadow: 0 0 0 0;
  }

  &.btn-white {
    text-transform: uppercase;
    background-color: $white;
    border-color: $white;
    font-size: 14px;
    font-weight: bold;

    .icon-reorder {
      width: 18px;
      height: 20px;
    }

    .icon-unlock {
      width: 10px;
      height: 20px;
    }

  }

}
