// .align-center,
// .text-center { text-align: center; }
// .align-left,
// .text-left { text-align: center; }
// .align-right,
// .text-right { text-align: center; }

.align-v-top { vertical-align: top !important; }
.align-v-middle { vertical-align: middle !important; }

.inline { display: inline; }
.inline-block { display: inline-block; }

.wd-mid { width: 110px; }
.pd-none { padding: 0 !important; }
.mg-none { margin: 0 !important; }
.mg-tb {
  margin: 10px 0;
}

.line-full {
  width: 100%;
  position: relative;

  .text {
    padding: 0 15px;
    position: relative;
    background: #fff;
  }

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #e5e5e5;
    position: absolute;
    top: 50%;
  }
}


// #loading-bar .bar {
//   background: #ff6e00;
// }
//
// #loading-bar-spinner .spinner-icon {
//   border-top-color:  #ff6e00;
//   border-left-color: #ff6e00;
// }
//
// #loading-bar .peg {
//   -moz-box-shadow: #ff6e00 1px 0 6px 1px;
//   -ms-box-shadow: #ff6e00 1px 0 6px 1px;
//   -webkit-box-shadow: #ff6e00 1px 0 6px 1px;
//   box-shadow: #ff6e00 1px 0 6px 1px;
// }
