.panel {
  margin: 0px 5px;
  padding: 10px;
  position: relative;

  .title {
    color: #000;
    font-size: 14px;
    margin: 10px 0 5px 0;
    &.highlight {
      font-size: 16px;
      margin: 0;
    }
  }

  &.panel-border-top,
  .panel-border-top {
    border-top: 2px solid #e5e5e5;
  }

  &.panel-clean,
  .panel-clean {
    background-color: #f7f7f7;
  }

  &.panel-none {
    margin: 0;
    padding: 0;
  }

  &.painel-last {
    margin: 0 5px 20px 5px;
  }

  .panel-inner {
    padding: 20px;
    margin: 0 auto;
  }

  .panel-center {
    margin: 10px auto 20px;
  }

  .panel-inner-compress {
    padding: 5px 35px 15px;
    margin: 0 auto;
  }

  .panel-inner-compress-icon {
    margin: 5px 35px 15px;
    padding: 25px 0 0;

    .title {
      &.highlight {
        font-size: 14px;
        margin: 20px 0 0 0;
      }
    }

  }

  .panel-group {
    overflow: hidden;
    margin-bottom: 10px;
    padding: 0 0 10px 0;
  }

}


.custom-tabs {
  border: 0;
  > li {
    width: 49%;
    &:first-child { margin: 0 1% 0 0; }
    &:last-child { margin: 0 0 0 1%; }
    &.active {
      > a {
        border: 0;
        color: $primary-color;
        background-color: #fff;
      }
    }
    > a {
      border: 0;
      color: $primary-color;
      padding: 10px 10px;
      text-align: center;
      margin: 0;
      background-color: #d3d3d3;
      box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.05);
    }
  }
}
