
.profile-header {
  background-image: linear-gradient(to bottom, #7aa5c5 -12%, #fff 28%);

  .profile-header-inner {
    padding: 25px 30px;
    background-color: $profile-header-bg;

    /* Source image is 197px by 182px. */
    background: url('../images/profile/company-page-background.png') no-repeat center center;

    // This will replace the logo with a 2x version on devices with a 2:1 ratio, such as Apple devices.
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url('../images/profile/company-page-background@2x.png');
      background-size: 100% 210px;
    }

    // This will replace the logo with a 3x version on devices with a 3:1 ratio
    @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
      background-image: url('../images/profile/company-page-background@3x.png');
      background-size: 100% 210px;
    }

  }

  .title-company {
    font-size: 18px;
    margin: 10px 0 20px 0;
  }

}

.profile-image {
  border-radius: 5px;
}

.profile-nav {
  width: 100%;
  background-color: $profile-nav-bg;
  box-shadow: 0px 0px 7px 2px #d4d0d4;
  margin: 0 0 20px 0;
}

.profile-nav__list {
  height: 56px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.profile-nav__list-item {
  display: inline-block;
  vertical-align: middle;
  width: 110px;
  height: 100%;
  padding: 7px 0 0 0;
  text-align: center;
  position: relative;
  overflow: hidden;


  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 45px;
  }

  a {
    display: inline-block;
    color: #6e6e6e;
    text-decoration: none;
    text-align: center;

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #18b2a8;
      transition: width .3s;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &:hover,
    &.active {
      color: #000;
      &:after {
          width: 100%;
      }
    }

    .count {
      display: block;
      text-align: center;
    }

  }

}


.profile-info {
  position: relative;

  .profile-info-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  .profile-info-footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 25px;
  }

  .profile-info-title {
    color: $white;
    margin: 15px 0 0 15px;
    width: 80%;
    font-size: 16px;
  }
}

.profile-descritption {
  .text-description {
    margin: 0;
  }
}

.avatar {
  border-radius: 3px;
  width: 62px;
  height: 52px;
  box-shadow: 0px 2px 3px #a9a8a8;

  &.avatar-small {
    width: 52px;
    height: 52px;
  }

  &.avatar-up {
    margin: -25px 0 15px 0;
  }

}



.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
