.search-box {
    position: relative;
    z-index: 3;

    .box-feedback {
      color: $white;
    }
}

.btn-icon {
    font-size: 1.875em;
    color: #1CB6B5;
}

.btn-icon-open {
    z-index: 1000;
    color: #FFF;
}

.search-bar-open {

  display: block;
  width: 100%;
}
