#svg-container { display: none; }

$brand-main: #000;
$red: red;

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  fill: $brand-primary;
}


.icon-logotype {
  display: inline-block;
  width: 200px;
  height: 54px;
  fill: #fff;

  @media screen and (max-width: 768px) {
    width: 170px;
  }

}

#icon-logotype {
  .logo { fill: #CF4A53; }
}

.icon-search {
  width: 24px;
  height: 24px;
  fill: $white;
}

.icon-menu {
  width: 24px;
  height: 24px;
  fill: $white;
}

.icon-profile {
  width: 20px;
  height: 20px;
}

.icon-profile-mid {
  width: 30px;
  height: 30px;
}

.icon-profile-gray {
  -webkit-filter: grayscale(100%);
}

.icon-unlock {
  width: 20px;
  height: 20px;
}

.icon-unlock-gray {
  -webkit-filter: grayscale(100%);
}

#icon-unlock {
  .group { fill: none; }
  .path1 { fill: $brand-primary; }
  .path2 { stroke: $brand-primary; }
  .ellip { fill: #FFF; }
}

.icon-twitter {
  fill: $red;
  width: 200px;
}
