.table-salaries {

  th {
    padding: 2px 0 !important;
    .subtitle {
      color: $gray-mid;
      font-weight: normal;
      margin: 15px 0 0 0;
    }
  }

  td { padding: 8px 0 !important; }

  .average {
    text-align: right;
    a { color: $black-mid; }
  }

  .count {
    color: $gray-mid;
    display: block;
  }

}
