// Colors

$white: #fff;
$blue-light: #276ea4 !default;
$black-mid: #323232 !default;
$gray-mid: #8b8b8b !default;

// TWBS Custom
$body-bg: #e5e5e5 !default;

$brand-primary: $blue-light;

$navbar-default-color:             #777 !default;
$navbar-default-bg:                #185989 !default;

$link-color: $blue-light;
$text-color: $black-mid;

//layout
$primary-color: $blue-light;

// Profile
$profile-header-bg: $white;
$profile-nav-bg: $white;
