<!doctype html>
<html class="no-js" ng-app="lovemondaysApp" ng-controller="MainCtrl">
  <head>
    <meta charset="utf-8">
    <title>lovemondays</title>
    <base href="/">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/app.css">
    <!-- endbuild -->

    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16.png?v=5">
  </head>
  <body>
      <div id="svg-container"></div>
      <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <!-- Add your site or application content here -->

      <!-- Navigation -->
      <!-- <nav class="navbar navbar-default navbar-fixed-top custom-navbar" role="navigation"> -->

      <div class="header">
        <nav class="navbar navbar-default navbar-fixed-top custom-navbar" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle navbar-left layer-up btn btn-icon" data-toggle="collapse" data-target="#navbar-collapse-1">
                <svg class="icon icon-menu" role="img">
                  <use xlink:href="#icon-menu"></use>
                </svg>
              </button>

              <button type="submit" class="btn btn-icon navbar-search navbar-right visible-xs-block layer-up" ng-click="toggle = !toggle" ng-class="{'btn-icon-open' : toggle}">
                <svg class="icon icon-search" role="img">
                  <use xlink:href="#icon-search"></use>
                </svg>
              </button>
            </div>


            <form class="search-box" role="search" ng-show="toggle">
              <input type="text" ng-model="asyncSelected" placeholder="Search" uib-typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control layer-up search-bar">
              <div class="box-feedback">
                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                <span ng-show="noResults">
                  <i class="glyphicon glyphicon-remove"></i> No Results Found
                </span>
              </div>

            </form>

            <div class="navbar-center">
              <a class="navbar-brand" href="#">
                <svg class="icon-logotype" role="img" aria-labelledby="Love Mondays">
                  <use xlink:href="#icon-logotype"></use>
                </svg>
              </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">

              <form class="navbar-form navbar-right layer-up" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
              </form>

              <ul class="nav navbar-nav navbar-left layer-up">
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
      </div>

      <main ui-view=""></main>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/vendor/svg-inject.js"></script>

        <script src="scripts/app.js"></script>
        <script src="scripts/services/lodash.js"></script>
        <script src="scripts/services/api.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/profile.js"></script>

        <!-- endbuild -->
</body>
</html>
