<section class="profile">

  <div class="profile-header">
    <div class="profile-header-inner text-center">
      <img src="images/ibm.png" class="avatar" alt="IBM">
      <h1 class="title-company">International Business Machine (IBM)</h1>
      <a href="#" class="btn btn-primary"> + Postar Avaliação</a>
    </div>
  </div>


  <nav class="profile-nav scroll">
    <ul class="profile-nav__list">
      <li class="profile-nav__list-item" role="presentation">
        <a class="active" href="#">Perfil</a>
      </li>
      <li class="profile-nav__list-item" role="presentation">
        <a href="#">Avaliações <span class="count">(122)</span></a>
      </li>
      <li class="profile-nav__list-item" role="presentation">
        <a href="#">Salários  <span class="count">(3499)</span></a>
      </li>
      <li class="profile-nav__list-item" role="presentation">
        <a href="#">Vagas  <span class="count">(23)</span></a>
      </li>
    </ul>
  </nav>

  <section class="panel">
    <div class="panel-header">
      <h2 class="title">Salarios IBM</h2>
      <p><strong>3499</strong> Sálarios para 214 cargos</p>
    </div>
      <table class="table table-salaries">
        <thead>
          <tr>
            <th class="align-v-top">
              <a class="btn btn-white" href="#">Filtrar</a>
            </th>
            <th class="align-v-top text-right">
              <a class="btn btn-white" href="#">
                <svg class="icon icon-reorder" role="img">
                  <use xlink:href="#icon-reorder"></use>
                </svg>
              </a>
              <p class="subtitle">Média Salarial</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a class="" href="#">Analista Contábil</a>
              <small class="count">22 Salarios</small>
            </td>
            <td class="average">
              <a href="#">R$ 23.100</a>
            </td>
          </tr>
          <tr>
            <td>
              <a class="" href="#">Analista Contábil</a>
              <small class="count">22 Salarios</small>
            </td>
            <td class="average">
              <a href="#">R$ 23.100</a>
            </td>
          </tr>
          <tr>
            <td>
              <a class="" href="#">Analista Contábil</a>
              <small class="count">22 Salarios</small>
            </td>
            <td class="average">
              <a href="#">R$ 23.100</a>
            </td>
          </tr>
        </tbody>
      </table>
  </section>

  <section class="panel panel-clean">
    <div class="panel-inner-compress text-center">
      <svg class="icon icon-unlock-gray" role="img">
        <use xlink:href="#icon-unlock"></use>
      </svg>
      <p class="title highlight inline"><strong>Acesse todo o conteúdo gratuitamente</strong></p>
    </div>

    <div class="login-wrapper panel-center">
      <ul class="nav nav-tabs custom-tabs">
        <li class="active"><a href="#">Criar Conta</a></li>
        <li><a href="#">Já Possui Conta?</a></li>
      </ul>
      <div class="panel panel-inner text-center">
        <div class="panel-group">
          <a class="btn btn-facebook wd-mid pull-left" href="#">
            <svg class="icon icon-gplus" role="img">
              <use xlink:href="#icon-gplus"></use>
            </svg>
            Facebook
          </a>
          <a class="btn btn-gplus wd-mid pull-right" href="#">
            <svg class="icon icon-gplus" role="img">
              <use xlink:href="#icon-gplus"></use>
            </svg>
            Google +
          </a>
        </div>
        <p class="line-full">
          <span class="text">ou</span>
        </p>
        Entrar <a href="#" ng-click="open($event)">utilizando seu email</a>
      </div>
    </div>
    <div class="panel-border-top panel-inner-compress-icon text-center">
      <svg class="icon icon-profile-mid icon-profile-gray" role="img">
        <use xlink:href="#icon-profile"></use>
      </svg>
      <svg class="icon icon-profile icon-profile-gray" role="img">
        <use xlink:href="#icon-profile"></use>
      </svg>
      <p class="title highlight">
        <strong>Junte-se à 456.678 pessoas</strong>
        que já postaram avaliações em
        salários na Love Mondays
      </p>
    </div>
  </section>


  <section class="panel painel-last">
    <table class="table table-salaries">
      <tbody>
        <tr>
          <td>
            <a class="" href="#">Analista Contábil</a>
            <small class="count">22 Salarios</small>
          </td>
          <td class="average">
            <a class="btn btn-white" href="#">
              <svg class="icon icon-unlock" role="img">
                <use xlink:href="#icon-unlock"></use>
              </svg>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a class="" href="#">Analista Contábil</a>
            <small class="count">22 Salarios</small>
          </td>
          <td class="average">
            <a class="btn btn-white" href="#">
              <svg class="icon icon-unlock" role="img">
                <use xlink:href="#icon-unlock"></use>
              </svg>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a class="" href="#">Analista Contábil</a>
            <small class="count">22 Salarios</small>
          </td>
          <td class="average">
            <a class="btn btn-white" href="#">
              <svg class="icon icon-unlock" role="img">
                <use xlink:href="#icon-unlock"></use>
              </svg>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <p>Exibindo 1 - 15 de 25 salários</p>
      <a class="btn btn-white" href="#">Carregar mais</a>
    </div>
  </section>

  <section class="panel pd-none">
    <div class="profile-info">
      <div class="profile-info-content">
        <p class="profile-info-title text-left">
          Carreiras International Business Machine (IBM)
        </p>
        <div class="profile-info-footer text-center">
          <a class="btn btn-border" href="#">Descubra</a>
        </div>
      </div>
      <img class="profile-image-back img-responsive" src="images/ibm-people2.jpg" alt="IBM" />
    </div>
    <div class="panel mg-none profile-descritption">
      <img class="avatar avatar-small avatar-up" src="images/ibm.png" alt="IBM" />
      <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae. <a href="#">SAIBA MAIS</a></p>
    </div>
  </section>

</section>
