
.navbar-fixed-top {
  .nav {
    padding: 0 15px;
  }

  .navbar-brand {
    padding: 0 15px;
    img { margin: 5px; }
  }
}


@media(min-width:768px) {
  // Required padding for .navbar-fixed-top. Change if height of navigation changes.
  body {
    padding-top: 100px;
  }

}


.navbar-brand {
  float: none;
}

.navbar-center {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
  height:100%;
  z-index: 1;
}

.custom-navbar {

  .navbar-form {
    margin-right: 0;
  }

  .layer-up {
    z-index: 4;
    position: relative;
  }

}

@media (max-width:767px) {


  .custom-navbar {

    .navbar-right {
        float: right;
    }

    .navbar-left {
        float: left;
    }

    .navbar-search  {
      padding: 0;
    }

    .navbar-header {
      padding: 0 10px;
      margin-top: 8px;
      margin-bottom: 8px;
    }

    .navbar-toggle { margin: 0; }

  }


}
