.modal-dialog {
  .panel {
    .panel-inner { padding: 20px 20px 0 20px; }
  }

  .custom-tabs {
    > li {

      > a {
        background-color: #f7f7f7 !important;
        border-bottom: 0;
      }

      &.active {
        > a {
          background-color: #fff !important;
        }
      }
    }
  }

  .login-wrapper {
    padding: 10px 5px !important;
    margin: 0 !important;
  }

}
